<!-- <div class="sticky-top mb-3">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-danger justify-content-center p-3 mb-3"
    *ngIf="!isLoggedInFlag"
  >
    <a routerLink="/owner-dashboard" class="navbar-brand">
      <span class="h3"><strong>DIY<span>POPUP'S</span></strong></span>
    </a>
  </nav>
  <nav
    class="navbar navbar-expand navbar-dark bg-danger p-3 mb-5"
    *ngIf="isLoggedInFlag"
  >
    <a routerLink="/" class="navbar-brand"
      ><span class="h5">Diy Popups</span></a
    >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile"
          >{{ user?.firstname }}&nbsp;<span class="fa fa-caret-down"></span
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div> -->
<div class>
  <nav class="navbar navbar-expand-lg navbar-success bg-sucsess justify-content-center p-3">
    <a routerLink='/landingpage' class="navbar-brand">DIY POP-UPS</a>
  </nav>
</div>